.different_types_of_boom_section {
  max-width: 1336px;
  margin: 0 auto;

  @media (max-width: 1340px) {
    padding: 0 24px;
  }

  .boom_card_boxs {
    display: flex;
    // flex-wrap: wrap;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    .boom_card_box1.secand_cards_box {
      margin-top: 59px;

      + .boom_card {
        margin-top: 111px !important;
      }

      .boom_card {
        .boom_detalls {
          width: 327px;

          @media (max-width: 499px) {
            width: 100%;
            text-align: center;
          }

          @media (min-width: 499px) and (max-width: 992px) {
            width: 475px;
            text-align: center;
          }
        }
      }
    }

    .boom_card_box1 {
      flex: 1;
      .d_boom_heading {
        display: flex;
        align-items: flex-start;
        padding: 20px 18px 30px;
        width: auto;
        height: auto;
        background: #f15a22;
        margin-bottom: 59px;

        @media (max-width: 650px) {
          width: auto;
          padding: 20px;
        }

        .boom_heading {
          font-weight: 800;
          font-size: 40px;
          line-height: 52px;
          letter-spacing: -0.02em;
          color: #ffffff;
          margin: 0;

          @media (max-width: 650px) {
            font-size: 32px;
            line-height: 42px;
          }
        }
      }

      .boom_card {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;

        @media (max-width: 1200px) {
          flex-direction: column;
        }

        + .boom_card {
          margin-top: 62px;
        }

        .b_img {
          width: 260px;
          height: auto;

          @media (max-width: 992px) {
            width: auto;
          }
        }

        .boom_detalls {
          width: 298px;

          @media (max-width: 499px) {
            width: 100%;
            text-align: center;
          }

          @media (min-width: 499px) and (max-width: 992px) {
            width: 475px;
            text-align: center;
          }
          .b_c_heading_1 {
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            letter-spacing: -0.01em;
            color: #000000;
            margin: 0 0 10px;
          }
          .b_c_heading_2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #000000;
            margin: 0 0 6px;
          }

          .b_c_text {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
            opacity: 0.8;
            margin: 0 0 20px;
          }

          .b_c_btn {
            background: transparent;
            border: none;
            padding: 0;
            @media (max-width: 992px) {
              margin: auto;
            }
            & a {
              display: flex;
              align-items: center;
              gap: 13px;

              p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -0.01em;
                color: #f15a22;
                text-align: left;

                span {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}
