.features_main_section {
  max-width: 1150px;
  margin: 0 auto 17px;

  @media (max-width: 1180px) {
    padding: 0 24px;
  }
  @media (max-width: 1081px) {
    max-width: 855px;
  }

  .feature_heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;
  }
}

.tabs_slider {
  position: relative;
  .features_main_section_categorie {
    max-width: 1150px;
    margin: 0 auto 17px;
    height: auto;
    overflow: auto;
    outline: none;
    overflow-y: hidden;
    -webkit-overflow-style: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .features_card_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 45px;

      width: 1150px;
      @media (max-width: 1150px) {
        overflow-x: scroll;
      }

      @media (max-width: 1081px) {
        justify-content: center;
      }

      .feature_card {
        width: 194px;
        height: 260px;
        flex-shrink: 0;
        border-radius: 8px;
        display: flex;
        padding: 21px 0 31px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
          background: rgba(245, 245, 245, 1);
        }

        // @media (max-width: 499px) {
        //   width: 100%;
        //   height: auto;
        // }

        &:first-child {
          background: rgba(47, 72, 88, 1);
          color: #fff;
        }

        .fea_heading {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          margin: 22px 0 0;
        }

        .fea_img-1 {
          width: auto;
          height: 134px;
          // @media (max-width: 499px) {
          //   width: auto;
          //   height: auto;
          // }
        }
        .fea_img-2 {
          width: auto;
          height: 131px;
          // @media (max-width: 499px) {
          //   width: auto;
          //   height: auto;
          // }
        }
        .fea_img-3 {
          width: auto;
          height: 146px;
          // @media (max-width: 499px) {
          //   width: auto;
          //   height: auto;
          // }
        }
        .fea_img-4 {
          width: auto;
          height: 146px;
          // @media (max-width: 499px) {
          //   width: auto;
          //   height: auto;
          // }
        }
        .fea_img-5 {
          width: auto;
          height: 146px;
          // @media (max-width: 499px) {
          //   width: auto;
          //   height: auto;
          // }
        }
      }
    }
  }
}

.btn-1 {
  left: 0;
}
.btn-2 {
  right: 0;
}

.slider-arrow-btns {
  position: absolute;
  top: 50%;

  @media (min-width: 1150px) {
    display: none;
  }

  & button {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 28px;
    padding: 10px;
    border: none;
    background: #f15a22;
    border-radius: 4px;
    display: inline-flex;
    cursor: pointer;
    transition: opacity 0.2s ease;
  }
}

// mobile slider

.section--characteristics.characteristics,
.section--stick.stick,
.section--robot.robot,
.section--handwipes.handwipes,
.section--steamcleaners.steamcleaners {
  max-width: 100%;

  @media (min-width: 992px) {
    display: none;
  }

  .splide__track {
    .splide__list {
      align-items: flex-start;
      justify-content: center;

      .splide__slide {
        padding: 0 8px !important;
        margin: 0 !important;

        .va_card {
          width: auto;
          height: auto;
          padding: 20px;
          flex-grow: 1;
          background: #ffffff;
          box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.08);

          .va_ca_heading {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #000000;
            margin: 0 0 8px;
            display: flex;
            gap: 10px;

            & span {
              & img {
                width: 24px;
                height: 24px;
              }
            }
          }

          .va_card_taxt {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #000000;
          }
        }
      }
    }
  }
  .splide__nav {
    width: 100%;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .splide__arrows {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 0;

      .splide__arrow--prev {
        &:before {
          background-image: url(" https://cdn-icons-png.flaticon.com/512/271/271220.png");
        }
        margin-left: -20px;
      }

      .splide__arrow--next {
        &:before {
          background-image: url("https://cdn-icons-png.flaticon.com/512/271/271228.png");
        }

        margin-right: -20px;
      }

      .splide__arrow {
        pointer-events: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30px;
        height: 35px;
        padding: 7px;
        border: none;
        background: #f15a22;
        border-radius: 4px;
        display: inline-flex;
        cursor: pointer;
        transition: opacity 0.2s ease;
        position: relative;

        &:before {
          content: "";
          width: 20px;
          height: 18px;
          position: absolute;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          @media (max-width: 768px) {
            width: 17px;
            height: 14px;
          }
        }

        svg {
          display: none;
        }
      }
    }
  }
}
