@use "sass:color" as c;
@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;
@use "../typography" as *;

.section--find-your-type {
  --gap: #{fluid-rem(0.5rem, 0.75rem)};
  display: flex;
  flex-wrap: wrap;
  gap: calc(4 * var(--gap)) v("gap");
  padding-block: fluid-rem(2rem, 5rem);

  .header {
    flex: 0 0 100%;
    display: grid;
    grid-template-columns: fluid-rem(3rem, 4rem) 1fr;
    grid-template-areas: "icon title" "icon description";
    gap: 0 fluid-rem(1rem, 3rem);
    margin-block-end: fluid-rem(2rem, 3rem);

    &__title {
      font-family: v("font-family-bold");
      grid-area: title;
      font-size: fluid-rem(1.5rem, 2.5rem);
      line-height: 1.333;
    }

    &__description {
      grid-area: description;
      font-size: fluid-rem(1rem, 1.5rem);
    }

    &__icon {
      grid-area: icon;
      align-self: center;
      width: fluid-rem(3rem, 4rem);
      height: auto;
      fill: v("brand");

      @media (width < 375px) {
        align-self: baseline;
        transform: translateY(0.75em);
      }
    }
  }

  .type {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: calc(33% - var(--gap));

    @media (width < 1100px) {
      min-inline-size: calc(50% - var(--gap));
    }

    @media (width < 768px) {
      min-inline-size: unset;
      flex-basis: 100%;
      width: min(#{fluid-rem(14rem, 17rem)}, 100%);
    }
  }
}
