@use "sass:color" as c;
@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;
@use "../typography" as *;

.section--technologies {
  padding-block-end: fluid-rem(2rem, 5rem);

  @media (width >= 940px) {
    background: url("../assets/technologies-bg.png") no-repeat left center /
      auto calc(100% - 2rem);
  }

  .section__title {
    padding: 0.5em;
    font-size: fluid-rem(1.75rem, 2.5rem);
    font-family: v("font-family-bold");
    line-height: 1.333;
    color: v("white");
    background-color: v("brand");
    width: min(25rem, 100%);
  }

  .list {
    padding: 1rem 0 0;
    list-style: none;
    width: min(100% - #{fluid-rem(0rem, 22rem, 768 1440)}, 100%);
    margin-inline-start: fluid-rem(0rem, 22rem, 768 1440);

    &__item {
      padding: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: fluid-rem(1rem, 2rem);
      position: revert;

      &::before {
        content: none;
      }

      &:not(:first-child) {
        margin-block-start: 1.5rem;
      }

      figure {
        flex-basis: fluid-rem(15rem, 18rem);
        flex-grow: 1;
        flex-shrink: 0;
        width: min(#{fluid-rem(15rem, 18rem)}, 100%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        flex: 999 1 0;
        min-inline-size: 60%;
      }
    }
  }
}
