@use "sass:color" as c;
@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;
@use "../typography" as *;

.vacuum_cleaners_section {
  max-width: 1151px;
  margin: 0 auto 47px;

  // @media (max-width: 1190px) {
  //   padding: 0 24px;
  // }

  .vacuum_tabs {
    // display: none !important;
  }

  // boom -tab
  .brooms_tabs {
    // display: none !important;
    height: auto !important;
    padding-bottom: 24px !important;
    @media (min-width: 830px) and (max-width: 1060px) {
      padding: 20px 24px 278px 48px !important;
    }
    @media (max-width: 830px) {
      padding: 20px 16px 278px !important;
    }
    .va_cards_box {
      .va_card {
        &:last-child,
        &:nth-child(3) {
          flex-basis: 692px;
          min-height: auto !important;
        }
      }
    }
  }

  // robot_vacuum
  .robot_vacuum {
    // display: none !important;
  }
  .va_cl_main.robot_vacuum {
    @media (min-width: 830px) and (max-width: 1160px) {
      height: auto !important;
      padding: 20px 24px 278px 48px !important;
    }
  }

  .va_cl_categories.robot_vacuum {
    min-height: 193px;
    padding: 42px 40px 40px 80px;
    background: #90e387;

    @media (max-width: 699px) {
      padding: 44px 16px;
    }

    &::before {
      top: -130px;
      left: -68px;
      background-image: url("../images/r-tip.png");

      @media (max-width: 1240px) {
        top: -76px;
        left: -47px;
      }
    }

    .cat_card_text {
      width: 335px;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: #000000;

      @media (max-width: 499px) {
        width: auto;
      }
    }
  }

  // steam_cleaners_tabs

  .steam_cleaners_tabs {
    // display: none !important;
  }

  .va_cl_main.steam_cleaners_tabs {
    height: auto !important;
    padding-bottom: 40px !important;
    @media (min-width: 830px) and (max-width: 1060px) {
      padding: 20px 24px 278px 48px !important;
    }
    @media (max-width: 830px) {
      padding: 20px 16px 278px !important;
    }

    @media (max-width: 1160px) {
      flex-direction: column;
    }
    .va_cards_box {
      .va_card {
        &:last-child,
        &:nth-child(3) {
          flex-basis: 692px;
          min-height: auto !important;
        }
      }
    }
  }
  .va_cl_categories.steam_cleaners_tabs {
    width: 755px;
    min-height: 156px;
    padding: 39px 55px 40px 204px;
    background: rgba(209, 200, 233, 1);

    margin-top: -40px;

    @media (max-width: 810px) {
      width: 100%;
    }

    @media (max-width: 699px) {
      padding: 44px 16px;
    }

    &::before {
      width: 178.81px;
      height: 126.17px;
      top: 12px;
      left: -16px;
      background-image: url("../images/st-tip.png");

      @media (max-width: 699px) {
        width: 146px;
        height: 110px;
        top: -76px;
        left: -23px;
      }
    }

    .cat_card_text {
      width: 100%;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: #000000;

      @media (max-width: 499px) {
        width: auto;
      }
    }
  }

  // hand brooms_tabs

  .va_cl_main.hand_brooms_tabs {
    height: auto !important;
    padding-bottom: 87px !important;

    overflow: hidden;
    @media (min-width: 830px) and (max-width: 1060px) {
      padding: 20px 24px 278px 48px !important;
    }
    @media (max-width: 830px) {
      padding: 20px 16px 278px !important;
    }

    .vauum-banner-img {
      bottom: -35px;
    }
    .va_cards_box {
      .va_card {
        &:first-child {
          flex-basis: 692px;
          min-height: auto !important;
        }

        &:nth-child(2),
        &:last-child {
          min-height: 287px !important;
          @media (max-width: 767px) {
            min-height: 165px !important;
          }
        }
      }
    }
  }
  .va_cl_categories.hand_brooms_tabs {
    min-height: 143px;
    width: 757px;
    padding: 30px 52px 40px 79px;
    background: rgba(144, 243, 255, 1);
    margin-left: -13px;

    @media (max-width: 830px) {
      width: 100%;
      margin-left: 0;
    }

    @media (max-width: 699px) {
      padding: 44px 16px;
    }

    &::before {
      top: -130px;
      left: -68px;
      background-image: url("../images/hb-tip.png");

      @media (max-width: 1240px) {
        top: -62px;
        left: -35px;
      }
    }

    .cat_card_text {
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #000000;
    }
  }

  // origin
  .va_cl_main {
    width: 100%;
    height: 577px;
    padding: 20px 24px 0 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    background: #ffffff;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.08);
    position: relative;

    @media (max-width: 1185px) {
      height: auto;
      padding: 20px 24px 278px 48px;
    }

    @media (max-width: 830px) {
      height: auto;
      padding: 20px 16px 278px;
    }

    @media (max-width: 425px) {
      padding-inline: 0;
    }

    .vauum-banner-img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: auto;
      height: auto;
    }

    .va_cl_heading {
      @extend %bold;
      font-size: fluid-rem(1.5rem, 2.5rem);
      line-height: 1.333;
      // font-weight: 700;
      // font-size: 40px;
      // line-height: 40px;
      letter-spacing: -0.01em;
      color: #000000;
      margin-top: 28px;
      width: 225px;

      // @media (max-width: 699px) {
      //   font-size: 28px;
      // }

      @media (max-width: 1060px) {
        width: auto;
      }

      & span {
        & img {
          margin-top: 16px;

          @media (width < 993px) {
            display: none;
          }
        }
      }
    }

    .va_cards_box {
      width: 692px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      gap: 10px;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;
      margin-left: auto;
      @media (max-width: 767px) {
        flex-shrink: 1;
        width: auto;
      }

      @media (max-width: 992px) {
        display: none !important;
      }

      .va_card {
        width: 341px;
        height: auto;
        padding: 20px;
        flex-grow: 1;
        background: #ffffff;
        box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.08);

        @media (max-width: 699px) {
          width: auto;
        }

        &:first-child,
        &:nth-child(2) {
          min-height: 212px;

          @media (max-width: 767px) {
            min-height: 165px;
          }
        }
        &:nth-child(3),
        &:nth-child(4) {
          min-height: 242px;

          @media (max-width: 767px) {
            min-height: 165px;
          }
        }

        .va_ca_heading {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.03em;
          color: #000000;
          margin: 0 0 8px;
          display: flex;
          gap: 10px;

          & span {
            & img {
              width: 24px;
              height: 24px;
            }
          }
        }

        .va_card_taxt {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #000000;
        }
      }
    }
  }

  .va_cl_categories {
    width: 1124px;
    min-height: 300px;
    padding: 42px 40px 40px 80px;
    background: rgba(64, 98, 120, 1);
    margin-left: -41px;
    position: relative;

    @media (max-width: 699px) {
      padding: 52px 16px 20px 40px;
    }

    @media (max-width: 1240px) {
      width: 100%;
      margin-left: 0;
    }

    @media (min-width: 1061px) and (max-width: 1140px) {
      padding: 95px 40px 40px 80px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -103px;
      left: -65px;
      width: 230px;
      height: 155px;
      background-image: url("../images/tip.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: 699px) and (max-width: 1240px) {
        width: 190px;
        height: 122px;
        top: -72px;
        left: -47px;
      }

      @media (max-width: 699px) {
        width: 160px;
        height: 100px;
        top: -52px;
        left: -43px;
      }
    }

    .categories_heading {
      width: 327px;
      @extend %bold;
      font-size: fluid-rem(1.25rem, 1.5rem);
      line-height: 1.333;
      // font-weight: 700;
      // font-size: 24px;
      // line-height: 32px;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin: 0 0 25px;

      @media (max-width: 699px) {
        width: auto;
      }
    }
    .categorie_card_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 56px;

      @media (max-width: 699px) {
        gap: 28px;
        flex-direction: column;
      }

      .cat_card {
        .cat_card_heading {
          @extend %bold;
          font-size: fluid-rem(1.125rem, 1.25rem);
          line-height: 1.333;
          // font-weight: 700;
          // font-size: 20px;
          // line-height: 24px;
          letter-spacing: -0.03em;
          color: #ffffff;
          margin: 0 0 8px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: -24px;
            width: 8px;
            height: 8px;
            background: #f15a25;
            border-radius: 50%;
          }
        }
        .cat_card_text {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #ffffff;
        }
      }
    }
  }
}
