@forward "./variables";

[data-holy] {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font: normal 1rem / 1.5 var(--font-family-regular);

  @import "./reset";
  @import "./external";
  @import "./components";
  @import "./sections";
}
